#intro {
	color: white;
	font-size: 18px;
}

h1 {
	font-size: 60px;
}
div {
	background-color: black;
	width: 1000px;
	margin: 0 auto;
}


#name {
	color: white;
	background-color: red;
	font-size: 12px;
	width: 500px;
	margin: 0 auto;
}


.outerdiv {
	text-align: center;

}

body{
	background-repeat: no-repeat;
	background-size: 100% 350%;
}